@font-face {
  font-family: "tantinotes";
  src: url("fonts/tantinotes/tantinotes.ttf");
  src: url("fonts/tantinotes/tantinotes.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "lato";
  src: url("fonts/lato/Lato-Regular.ttf");
  src: url("fonts/lato/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "georgia";
  src: url("fonts/georgia/georgia.ttf");
  src: url("fonts/georgia/georgia.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "maratre";
  src: url("fonts/maratre/maratre.otf");
  src: url("fonts/maratre/maratre.otf") format("opentype");
  font-weight: normal;
}

@-webkit-keyframes love {
  0% {
    top: 110%;
  }
}
@-moz-keyframes love {
  0% {
    top: 110%;
  }
}
@-ms-keyframes love {
  0% {
    top: 110%;
  }
}
@keyframes love {
  0% {
    top: 110%;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    height: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-maratre;
  }
}

@layer components {
  .heart {
    position: absolute;
    top: -50%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -m-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .heart:before {
    position: absolute;
    top: -50%;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: 100%;
  }

  .heart:after {
    position: absolute;
    top: 0;
    right: -50%;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: 100%;
  }
}

@layer utilities {
  .bg_heart {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .volume-slider {
    -webkit-appearance: slider-vertical;
    width: 2px;
  }
}
